# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
.vs/

# Visual Studio files
*.csproj
*.sln
*.user
*.userprefs
# Unity Logs
Logs/

# Mac system file
.DS_Store

# Build folder
Build.app/
Build/
*.app
